body,
html {
	height: 100%;
	padding-top: 25px;
	width: 100%; 
	margin: 0; 
}

#map {
	width: 70%;
	height: 100%;
	float: left;
	z-index: 1;
}

#rightside {
	width: 30%;
	height: calc(100% - 50px);
	position: fixed; 
	background-color: snow;
	left: 70%;
	overflow-y: auto;
}

.graph-container {
	border: 2px solid black;
	margin: 4px;
}

.graph-title {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	margin-left: 10px;
}

#speed-groups-container {
	height: 350px;
}

#duration-groups-container {
	height: 350px;
}

.graph-credit {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	margin-right: 10px;
	text-align: right;
}