.title {
	font-family: 'Open Sans', sans-serif;
}

.subtitle {
	font-family: 'Open Sans', sans-serif;
}

.visual {
    width: 100%;
    height: auto;
}

.desc {
	font-family: 'Open Sans', sans-serif;
}